.duplicacy

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
auth-server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env

# Dependency directories
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
